input[type=text]{
    width: -webkit-fill-available;
    border: none;
    border-bottom: 2px solid rgba(74, 84, 102, 0.171);
    font-size: 16px;
    padding: 10px 0 4px;
}
input[type=text]:focus-visible{
   outline: none;
   border-bottom: 2px solid rgba(74, 84, 102, 0.39);
}
.form{
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}
.check-label{
    color: red;
    font-size: 12px;
}
